:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #0e0e10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.text-gradient {
  background: linear-gradient(to right, #f8f8f8 13.87%, #b188e2 60%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: BreathingGradient 6s cubic-bezier(.46,.03,.52,.96) infinite;
}

@keyframes BreathingGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

#version {
  display: block;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 10px;
}

#chat-list {
  padding-top: 15px;
}

.chatlist-contact {
  display: flex;
  border-style: solid;
  border-color: gray;
  border-radius: 15px;
  border-width: 1px;
  cursor: pointer;
  justify-content: center;
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
}

.chatlist-contact img {
  width: auto;
  height: 100%;
  border-style: solid;
  border-radius: 100%;
  border-width: 1px;
}

.chatlist-contact h3 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

#chat-new {
  padding: 5px;
}

.chats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

#chat-back-btn {
  position: absolute;
  cursor: pointer;
  left: 10px;
  top: 10px;
  margin: 0;
  color: rgba(167, 137, 204, 1);
}

#chat-contact {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  background-color: #040308;
  height: 428px;
  padding-left: 10px;
  padding-right: 10px;
}

.msg-me {
  display: flex;
  align-self: flex-end;
}

.msg-them img {
  height: 50px;
  width: auto;
  border-radius: 100%;
  margin-top: 15px;
  margin-right: 10px;
}

.msg-me p {
  text-align: left;
  max-width: 300px;
  border-radius: 15px;
  background: linear-gradient(157deg, rgba(29,29,117,0.5) 45%, rgba(118,33,129,0.5) 100%);
  padding: 12px;
  border-bottom-right-radius: 0px;
  word-break: break-word;
}

.msg-them p {
  text-align: left;
  max-width: 300px;
  border-radius: 15px;
  background-color: #24252a;
  padding: 12px;
  border-bottom-left-radius: 0px;
  word-break: break-word;
}

.msg-them {
  align-self: flex-start;
  display: flex;
}

#chat-box {
  width: 100%;
  background-color: #251134ff;
  height: 55px;
}

#chat-input {
  position: relative;
  bottom: -6px;
  height: 20px;
  width: 85%;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  background-color: #593b6f99;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:active {
  background-color: #0f0f0f69;
}

#login-input {
  margin-right: 5px;
}