@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 65%;
  height: 65%;
  margin: auto;
}

.icon-new-msg {
  mask-image: url("./icons/new-chat.svg");
}

.icon-add-file {
  mask-image: url("./icons/add-file.svg");
}

.icon-mic-on {
  mask-image: url("./icons/mic-on.svg");
}

.icon-mic-off {
  mask-image: url("./icons/mic-off.svg");
}

.icon-smile-face {
  mask-image: url("./icons/smile-face.svg");
}

.icon-wink-face {
  mask-image: url("./icons/wink-face.svg");
}

.icon-chevron-down {
  mask-image: url("./icons/chevron-down.svg");
}

.icon-cancel {
  mask-image: url("./icons/cancel.svg");
}

.icon-settings {
  mask-image: url("./icons/settings.svg");
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.settings-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.75;
}

.settings-btn:hover {
  opacity: 0.5;
}

.popup-container {
  z-index: 1001;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.popup {
  position: absolute;
  /* Too many weird WebKit filter issues - disabling and going solid for now */
  /* backdrop-filter: blur(10px); */
  border-style: solid;
  border-radius: 8px;
  padding: 30px;
  border-width: 1px;
  margin-top: 30vh;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: BreathingGradient 6s cubic-bezier(.46,.03,.52,.96) infinite;
}

@keyframes BreathingGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

#version {
  display: block;
  font-size: 14px;
  opacity: 0.5;
  margin-top: 10px;
}

.pin-row input {
  text-align: center;
  width: 10px;
  margin: 5px;
}

.intro-anim {
  animation: Intro 1s cubic-bezier(.46,.03,.52,.96) forwards;
}

@keyframes Intro {
  0% { opacity: 0; transform: translateY(50px); }
}

.intro-anim-widen {
  animation: IntroWiden 1s cubic-bezier(.46,.03,.52,.96) forwards;
}

@keyframes IntroWiden {
  0% { 
    opacity: 0; 
    transform: scaleX(0); 
  }
}

.account {
  align-items: center;
}

.account .placeholder-avatar {
  margin-right: 10px;
}

.placeholder-avatar p {
  top: 25px;
  margin: 0;
  position: relative;
  line-height: 0;
  font-size: 20px;
  opacity: 0.75;
}

.account img {
  object-fit: cover;
  object-position: center;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 100%;
}

#chat-list {
  overflow-y: scroll;
}

.chatlist-contact {
  display: flex;
  border-style: solid;
  border-radius: 30px;
  border-width: 1px;
  cursor: pointer;
  justify-content: left;
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
}

.chatlist-contact-preview {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 60px;
  max-width: -webkit-fill-available;
}

.chatlist-contact img {
  object-fit: cover;
  object-position: center;
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.placeholder-avatar {
  border-radius: 100%;
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
}

.chatlist-contact-preview h4 {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.chatlist-contact-preview p {
  /* Opacity breaks the Popup by making the text bleed through it... WTF? */
  /* opacity: 0.6;*/
  margin: 0;
  margin-left: 15px;
  text-align: left;
  font-family: 'Rubik';
  font-weight: 100;
}

#chat-new {
  padding: 30px;
}

.chats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.back-btn {
  position: absolute;
  cursor: pointer;
  left: 10px;
  top: 18px;
  margin: 0;
  z-index: 10;
}

.chat-contact-with-status {
  display: block;
  max-width: 100%;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0;
}

.chat-contact {
  display: block;
  max-width: 100%;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
}

#chat-contact-status {
  opacity: 0.8;
  font-style: oblique;
  font-size: 14px;
  margin-bottom: 2px;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  /* An imperfect solution attempting to fit the message list within it's Chat Box proportionately to the window height */
  height: calc(100% - 100px);
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Rubik';
}

.msg-inline-timestamp {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.msg-me {
  display: flex;
  align-self: flex-end;
}

.msg-them img {
  object-fit: cover;
  object-position: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-top: 15px;
  margin-right: 10px;
}

.msg-me p {
  text-align: left;
  max-width: 500px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  padding: 12px;
  border-bottom-right-radius: 0px;
  word-break: break-word;
  font-weight: 100;
}

.msg-them p {
  text-align: left;
  max-width: 500px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  padding: 12px;
  border-bottom-left-radius: 0px;
  word-break: break-word;
  font-weight: 100;
}

.msg-reply {
  display: block;
  padding-left: 10px;
  opacity: 0.6;
  margin-bottom: 5px;
}

/* The `highlightMessage` animation is defined in `/themes/*` */
.highlight-animation p {
  animation: highlightMessage 1.5s ease-out forwards;
}

/* Used for "New" elements, like new incoming messages, or other new elements added to a list */
.new-anim {
  animation: SlideIn 0.75s cubic-bezier(.46,.03,.52,.96) forwards;
}

@keyframes SlideIn {
  0% { opacity: 0; transform: translateY(100px) translateX(-100px) scale(0); }
  100% { opacity: inherit; transform: translateY(0px) translateX(0px) scale(1); }
}

.emoji-only {
  /* Typically I recommend against !important, but this is the only style in `msg-*` we're force-overriding */
  background: none !important;
  border-color: transparent !important;
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.emoji-only-content {
  font-size: 75px;
  line-height: 75px;
}

.no-background {
  background: none !important;
  border-color: transparent !important;
}

.msg-them {
  align-self: flex-start;
  display: flex;
}

.msg-extras {
  display: flex;
  flex-direction: column;
}

.msg-extras span {
  cursor: pointer;
}

.msg-extras .hideable {
  opacity: 0;
  transition: opacity 0.1s;
}

.add-reaction {
  font-size: 25px;
}

.reaction {
  cursor: default;
  position: relative;
  height: fit-content;
  width: 50px;
}

.reply-btn {
  font-size: 25px;
}

.msg-them:hover .msg-extras .hideable {
  opacity: 0.75;
}

.msg-me:hover .msg-extras .hideable {
  opacity: 0.75;
}

#chat-box {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 0;
}

.chat-input-container {
  width: 100%;
  align-items: center;
  background-color: #0a0a0a;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 10px;
}

.chat-input-container button {
  backdrop-filter: none;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: transparent;
  padding: 10px;
}

#chat-input {
  width: -webkit-fill-available;
  line-height: inherit;
  resize: none;
  overflow: hidden;
  height: 20px;
  padding: 10px;
  padding-left: 0;
}

.emoji-button {
  font-size: 30px;
  padding: 0;
  padding-left: 12px;
  padding-right: 10px;
  background-color: transparent;
}

.emoji-picker {
  display: none;
  position: absolute;
  z-index: 1000;
  padding: 10px;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
  border-style: solid;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.emoji-picker-message-type {
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  border-top-left-radius: 8px;
}

.emoji-picker input {
  width: -webkit-fill-available;
  height: 12px;
  margin-bottom: 12px;
  background-color: rgba(1, 1, 1, 0.5);
}

.emoji-picker span {
  cursor: pointer;
  opacity: 1;
  padding: 6px;
  font-size: 30px;
  border-radius: 100%;
  display: inline-block;
}

.emoji-picker span:hover {
  opacity: 0.8;
  background: #0000003f;
}

.row {
  display: flex;
  justify-content: center;
}

.cutoff {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea,
button {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffff;
  transition: border-color 0.25s;
}

select {
  width: 150px;
  font-size: large;
}

button {
  backdrop-filter: blur(6px);
  cursor: pointer;
}

button:active {
  opacity: 0.75;
}

audio {
  width: 200px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

.corner-float {
  bottom: 80px;
  right: 20px;
  position: absolute;
  padding: 2.5px 12.5px;
  font-size: 30px;
  transform: scale(0) translateY(50px);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.corner-float.visible {
  transform: scale(1) translateY(0px);
}

.divider {
  height: 1px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
}

#login-input {
  margin-right: 5px;
}